body{
    font-family: 'PT Sans', sans-serif;
    background: #e9e9e9;
}
body, html{
    width: 100%;
    height: 100%;
}
#header{
    width: 100%;
    min-width: 1180px;
    position: relative;
    overflow: hidden;
}
.menuon{
    border-bottom: 2px solid #159adb;
}
.menu{
    width: 100%;
    min-width: 1180px;
    position: fixed;
    z-index: 9999;
    text-align: center;
}
.logo{
    padding-top: 30px;
    font-size: 1rem;
    color: aliceblue;
    font-weight: bold;
}
.menubg{
    background-color: rgba(0, 0, 0, 0.6);
}
.menuright{
    padding: 20px 0;
    color: #fff;
}
.menuright>div{
    display: inline-block;
    margin-right: 30px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}
.menuright>div:last-child{
    margin-right: 0;
}
.bannerimg{
    background: url(../img/mainbg.jpg)no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
    min-width: 1180px;
    overflow: hidden;
}
.aurora01{
    position: absolute;
    opacity: 0.1;
    left: 20%;
    animation: aurora01 150s linear infinite;
}
@keyframes aurora01{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(2000px)
    }
}
.aurora02{
    position: absolute;
    opacity: 0.1;
    left: -50%;
    top: 10%;
    animation: aurora02 300s linear infinite;
}
@keyframes aurora02{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(3000px);
    }
}
.dropstar01{
    position: absolute;
    left: 600px;
    top: 100px;
}
.dropstar01>img{
    opacity: 0;
    width: 40%;
    animation: dropstar01 8s linear infinite;
    animation-delay: 3s;
}
@keyframes dropstar01{
    0%{
        transform: translateX(0px) translateY(0px);
        opacity: 0
    }
    10%{
        transform: translateX(-1100px) translateY(1200px);
        opacity: 1
    }
    100%{
        transform: translateX(-2200px) translateY(2400px);
        opacity: 1
    }
}
.dropstar02{
    position: absolute;
    right: 200px;
    top: 300px;
}
.dropstar02>img{
    opacity: 0;
    width: 10%;
    animation: dropstar02 10s linear infinite;
    animation-delay: 1s;
}
@keyframes dropstar02{
    0%{
        transform: translateX(0px) translateY(0px);
        opacity: 1
    }
    10%{
        transform: translateX(-700px) translateY(700px);
        opacity: 0
    }
    100%{
        transform: translateX(-2800px) translateY(2800px);
        opacity: 1
    }
}
.dropstar03{
    position: absolute;
    left: 900px;
    top: 0;
}
.dropstar03>img{
    opacity: 0;
    width: 20%;
    animation: dropstar03 8s linear infinite;
    animation-delay: 7s;
}
@keyframes dropstar03{
    0%{
        transform: translateX(0px) translateY(0px);
        opacity: 1
    }
    10%{
        transform: translateX(-1200px) translateY(1400px);
        opacity: 1
    }
    100%{
        transform: translateX(-2400px) translateY(2800px);
        opacity: 1
    }
}
.starbox{
    position: relative;
}
.star01{
    left: 500px;
    top: -100px;
}
.star02{
    left: 1700px;
    top: 0px;
}
.star03{
    left: 200px;
    top: 500px;
}
.star04{
    left: 1500px;
    top: 400px;
}
.star05{
    left: 200px;
    top: -50px;
}
.star06{
    left: 800px;
    top: 400px;
}
.star07{
    left: 1300px;
    top: 0px;
}
.star08{
    left: 80%;
    top: 50%;
}
.star09{
    left: 50%;
    top: 300px;
}
.star10{
    left: 90%;
    top: 200px;
}
.star01 .star{
    position: absolute;
    left: 22px;
    top: 22px;
    animation: star01 4s linear infinite;
}
.star01 .light{
    position: absolute;
    animation: star01 4s linear infinite;
}
@keyframes star01{
    0%{
        transform: scale(0.5);
        opacity: 0.5;
    }
    50%{
        transform: scale(1.5);
        opacity: 1;
    }
    100%{
        transform: scale(0.5);
        opacity: 0.5;
    }
}
.star02 .star{
    position: absolute;
    left: 22px;
    top: 22px;
    animation: star02 7s linear infinite;
}
.star02 .light{
    position: absolute;
    animation: star02 7s linear infinite;
}
@keyframes star02{
    0%{
        transform: scale(0.5);
        opacity: 0.4;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0.5);
        opacity: 0.4;
    }
}
.star03 .star{
    position: absolute;
    left: 22px;
    top: 22px;
    animation: star03 1s linear infinite;
}
.star03 .light{
    position: absolute;
    animation: star03 1s linear infinite;
}
@keyframes star03{
    0%{
        transform: scale(0.7);
        opacity: 0.5;
    }
    50%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(0.7);
        opacity: 0.5;
    }
}
.star04 .star{
    position: absolute;
    left: 22px;
    top: 22px;
    animation: star04 4s linear infinite;
}
.star04 .light{
    position: absolute;
    animation: star04 4s linear infinite;
}
@keyframes star04{
    0%{
        transform: scale(0.5);
        opacity: 0.2;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0.5);
        opacity: 0.2;
    }
}
.star05 .star{
    position: absolute;
    left: 22px;
    top: 22px;
    animation: star05 3s linear infinite;
}
.star05 .light{
    position: absolute;
    animation: star05 3s linear infinite;
}
@keyframes star05{
    0%{
        transform: scale(1);
        opacity: 0.2;
    }
    50%{
        transform: scale(1.5);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0.2;
    }
}
.star06 .star{
    position: absolute;
    left: 22px;
    top: 22px;
    animation: star06 7s linear infinite;
}
.star06 .light{
    position: absolute;
    animation: star06 7s linear infinite;
}
@keyframes star06{
    0%{
        transform: scale(0.6);
        opacity: 0.5;
    }
    50%{
        transform: scale(1.3);
        opacity: 1;
    }
    100%{
        transform: scale(0.6);
        opacity: 0.5;
    }
}
.star07 .star{
    position: absolute;
    left: 22px;
    top: 22px;
    animation: star07 5s linear infinite;
}
.star07 .light{
    position: absolute;
    animation: star07 5s linear infinite;
}
@keyframes star07{
    0%{
        transform: scale(1);
        opacity: 0.8;
    }
    50%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0.8;
    }
}
.star08 .star{
    position: absolute;
    left: 22px;
    top: 22px;
    animation: star08 3s linear infinite;
}
.star08 .light{
    position: absolute;
    animation: star08 3s linear infinite;
}
@keyframes star08{
    0%{
        transform: scale(0.5);
        opacity: 0.5;
    }
    50%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(0.5);
        opacity: 0.5;
    }
}
.star09 .star{
    position: absolute;
    left: 22px;
    top: 22px;
    animation: star09 2s linear infinite;
}
.star09 .light{
    position: absolute;
    animation: star09 2s linear infinite;
}
@keyframes star09{
    0%{
        transform: scale(0.8);
        opacity: 0.5;
    }
    50%{
        transform: scale(1.5);
        opacity: 1;
    }
    100%{
        transform: scale(0.8);
        opacity: 0.5;
    }
}
.star10 .star{
    position: absolute;
    left: 22px;
    top: 22px;
    animation: star10 5s linear infinite;
}
.star10 .light{
    position: absolute;
    animation: star10 5s linear infinite;
}
@keyframes star10{
    0%{
        transform: scale(0.2);
        opacity: 0.5;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0.2);
        opacity: 0.5;
    }
}
.bannerimgtext{
    position: relative;
    width: 1180px;
    margin: 0 auto;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
}
.bannerimgtext>p{
    font-size: 40px;
    color: #cdcdcd;
    line-height: 100px;
    padding: 0 50px
}
.bannerimgtext>p:first-child{
    animation-iteration-count: 1;
    animation: textslide 0.8s ease-in-out;
    animation-delay: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.bannerimgtext>p:last-child{
    animation-iteration-count: 1;
    animation: textslide 0.8s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes textslide{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.bannerimgtext:before{
    content: "";
    width: 100px;
    height: 5px;
    position: absolute;
    background: #159adb;
    top: -20px;
    animation: textslide 0.8s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 0.6s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.profile{
    width: 100%;
    min-width: 1180px;
    margin-top: 50px;
    background: #e9e9e9;
}
.profileboxtext{
    text-align: center;
    font-size: 40px;
}
.profilesection{
    width: 100%;
    background: url(../img/3d.jpg)no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    }
.profileimg{
    width: 1180px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
.profilephoto{
    position: relative;
    transform-style: preserve-3d;
    vertical-align: middle;
    top: 55px;
    left: 10%;
}
.profilephoto>img{
    position: absolute;
}
.photo01{
    transform: translateZ(10px); 
}
.photo02{
    width: 250px;
    transform: translateZ(60px);
    left: 24px;
    top: -20px;
}
.profiletext{
    position: absolute;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}
.fullbody{
    position: relative;
    width: 100%;
    min-width: 1180px;
    margin-top:50px;
}
.fullbodybox{
    background: #e9e9e9;
    overflow: hidden;
}
.portfoliotext{
    text-align: center;
    font-size: 40px;
}
.introbox{
    position: relative;
    width: 980px;
    margin: 0 auto;
    min-width: 980px;
    background: url(../img/fullbg.jpg);
    background-attachment: fixed;
}
.centerline{
    position: absolute;
    top: 0;
    right: 50%;
    width: 2px;
    height: 100%;
    background: #ccc;
    overflow: hidden;
    text-align: center;
}
.centerline>span{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 2px;
    background: #159adb;
}
.introsection{
    overflow: hidden;
}
.introimg{
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    width: 980px;
}
.introimg>div{
    position: relative;
    width: 980px;
}
.img01box>.dot.on, .img02box>.dot.on, .img03box>.dot.on, .img04box>.dot.on, .img05box>.dot.on, .img06box>.dot.on{
    background: url(../img/year_icon_on.png)no-repeat 50%;
}
.img07box>.dot.on {
    background: url(../img/dotonlast.png)no-repeat 50%;
}
.img01box>.dot, .img03box>.dot, .img05box>.dot{
    background: url(../img/year_icon.png)no-repeat 50%;
    position: absolute;
    width: 66px;
    height: 15px;
    right: 483px;
    top: 100px;
    transform: rotateY(180deg);
}
.img02box>.dot, .img04box>.dot, .img06box>.dot{
    position: absolute;
    width: 66px;
    height: 15px;
    background: url(../img/year_icon.png)no-repeat 50%;
    right: 432px;
    top: 70px
}
.img07box>.dot{
    position: absolute;
    width: 66px;
    height: 15px;
    background: url(../img/dotlast.png)no-repeat 50%;
    right: 458px;
    top: 70px
}
.img01, .img03, .img05{
    position: absolute;
    top: 50px;
    right: 550px;
    width: 300px;
    z-index: 999;
}
.img02, .img04, .img06{
    position: absolute;
    top: 50px;
    left: 550px;
    width: 300px;
    z-index: 999;
}
.img01>img, .img03>img, .img05>img{
    width: 300px;
    box-shadow: 10px 10px 20px 0px #4e4e4e;
    vertical-align: middle;
}
.img02>img, .img04>img, .img06>img{
    width: 300px;
    box-shadow: 10px 10px 20px 0px #4e4e4e;
    vertical-align: middle;
}
.img04 p{
    margin-left: -50px;
}
.imgimg>p{
    opacity: 0;
    color: #000;
}
.imgonon{
    position: fixed;
    top: 330px;
    right: 53%;
    animation: ani 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow: hidden;
}
.texton{
    position: fixed;
    top: 280px ;
    left: 13.5%;
    width: 445px;
    font-size: 18px;
    padding-top: 20px;
    animation: texton 0.5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes texton{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(100px);
    }
}
.textonon{
    position: fixed;
    top: 295px;
    right: 13.5%;
    color: #000;
    font-size: 18px;
    animation: textonon 0.5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes textonon{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(-100px);
    }
}
.imgnono{
    position: fixed;
    top: 330px;
    left: 53%;
    animation: ani 0.3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes ani{
    0%{
        width: 15%;
        height: 10%;
    }
    100%{
        width: 30%;
        height: 30%;
    }
}
.imgon{
    position: fixed;
    top: 400px;
    left: 600px
}
.imghover01{
    position: fixed;
    top: 350px;
    left: 18%;  
    z-index: 9999;
}
.imghoverbox01{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
}
.imghovericon01{
    position: absolute;
    display: inline-block;
    background: url(../img/plus.png)no-repeat 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-delay: 0.5s;
}
.imghoverbox01:before,
.imghoverbox01:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    border-right-color: transparent;
    transition: all 0.3s ease-in-out;
    transition-delay: 0s;
}
.imghoverbox01:before{
    transform: rotate(45deg);
}
.imghoverbox01:after{
    transform: rotate(-45deg);
}
.imghovertext01{
    position: absolute;
    color: #fff;
    display: block;
    width: 500px;
    text-align: left;
    font-size: 18px;
    line-height: 45px;
    padding: 0 20px;
    transform: translateX(-120px);
    transition: all 0.4s ease-in-out;
    transition-delay: 0.2s;
    opacity: 0;
}
.imghoverbg01{
    position: fixed;
    width: 1900px;
    height: 970px;
    top: 330px;
    left: 17%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.img01:hover .imghoverbox01:after,
.img01:hover .imghoverbox01:before{
    transform: rotate(0deg);
}
.img01:hover .imghovertext01{
    opacity: 1;
    transform: translateX(0);
}
.img01:hover .imghovericon01{
    opacity: 0;
    transition-delay: 0s;
}
.img01:hover .imghoverbg01{
    opacity: 1;
}
.imghover02{
    position: fixed;
    top: 350px;
    left: 54%;
    z-index: 9999;
}
.imghoverbox02{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
}
.imghovericon02{
    position: absolute;
    display: inline-block;
    background: url(../img/plus.png)no-repeat 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-delay: 0.5s;
}
.imghoverbox02:before,
.imghoverbox02:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    border-right-color: transparent;
    transition: all 0.3s ease-in-out;
    transition-delay: 0s;
}
.imghoverbox02:before{
    transform: rotate(45deg);
}
.imghoverbox02:after{
    transform: rotate(-45deg);
}
.imghovertext02{
    position: absolute;
    color: #fff;
    display: block;
    width: 500px;
    text-align: left;
    font-size: 18px;
    line-height: 45px;
    padding: 0 20px;
    transform: translateX(-120px);
    transition: all 0.4s ease-in-out;
    transition-delay: 0.2s;
    opacity: 0;
}
.imghoverbg02{
    position: fixed;
    width: 30%;
    height: 29.7%;
    top: 330px;
    left: 53%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.img02:hover .imghoverbox02:after,
.img02:hover .imghoverbox02:before{
    transform: rotate(0deg);
}
.img02:hover .imghovertext02{
    opacity: 1;
    transform: translateX(0);
}
.img02:hover .imghovericon02{
    opacity: 0;
    transition-delay: 0s;
}
.img02:hover .imghoverbg02{
    opacity: 1;
}
.imghover03{
    position: fixed;
    top: 350px;
    left: 18%;
    z-index: 9999;
}
.imghoverbox03{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
}
.imghovericon03{
    position: absolute;
    display: inline-block;
    background: url(../img/plus.png)no-repeat 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-delay: 0.5s;
}
.imghoverbox03:before,
.imghoverbox03:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    border-right-color: transparent;
    transition: all 0.3s ease-in-out;
    transition-delay: 0s;
}
.imghoverbox03:before{
    transform: rotate(45deg);
}
.imghoverbox03:after{
    transform: rotate(-45deg);
}
.imghovertext03{
    position: absolute;
    color: #fff;
    display: block;
    width: 500px;
    text-align: left;
    font-size: 18px;
    line-height: 45px;
    padding: 0 20px;
    transform: translateX(-120px);
    transition: all 0.4s ease-in-out;
    transition-delay: 0.2s;
    opacity: 0;
}
.imghoverbg03{
    position: fixed;
    width: 30%;
    height: 29.7%;
    top: 330px;
    left: 17%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.img03:hover .imghoverbox03:after,
.img03:hover .imghoverbox03:before{
    transform: rotate(0deg);
}
.img03:hover .imghovertext03{
    opacity: 1;
    transform: translateX(0);
}
.img03:hover .imghovericon03{
    opacity: 0;
    transition-delay: 0s;
}
.img03:hover .imghoverbg03{
    opacity: 1;
}
.imghover04{
    position: fixed;
    top: 350px;
    left: 54%;
    z-index: 9999;
}
.imghoverbox04{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
}
.imghovericon04{
    position: absolute;
    display: inline-block;
    background: url(../img/plus.png)no-repeat 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-delay: 0.5s;
}
.imghoverbox04:before,
.imghoverbox04:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    border-right-color: transparent;
    transition: all 0.3s ease-in-out;
    transition-delay: 0s;
}
.imghoverbox04:before{
    transform: rotate(45deg);
}
.imghoverbox04:after{
    transform: rotate(-45deg);
}
.imghovertext04{
    position: absolute;
    color: #fff;
    display: block;
    width: 500px;
    text-align: left;
    font-size: 18px;
    line-height: 45px;
    padding: 0 70px;
    transform: translateX(-120px);
    transition: all 0.4s ease-in-out;
    transition-delay: 0.2s;
    opacity: 0;
}
.imghoverbg04{
    position: fixed;
    width: 30%;
    height: 29.8%;
    top: 329px;
    left: 53%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.img04:hover .imghoverbox04:after,
.img04:hover .imghoverbox04:before{
    transform: rotate(0deg);
}
.img04:hover .imghovertext04{
    opacity: 1;
    transform: translateX(0);
}
.img04:hover .imghovericon04{
    opacity: 0;
    transition-delay: 0s;
}
.img04:hover .imghoverbg04{
    opacity: 1;
}
.imghover05{
    position: fixed;
    top: 350px;
    left: 18%;
    z-index: 9999;
}
.imghoverbox05{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
}
.imghovericon05{
    position: absolute;
    display: inline-block;
    background: url(../img/plus.png)no-repeat 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-delay: 0.5s;
}
.imghoverbox05:before,
.imghoverbox05:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    border-right-color: transparent;
    transition: all 0.3s ease-in-out;
    transition-delay: 0s;
}
.imghoverbox05:before{
    transform: rotate(45deg);
}
.imghoverbox05:after{
    transform: rotate(-45deg);
}
.imghovertext05{
    position: absolute;
    color: #fff;
    display: block;
    width: 500px;
    text-align: left;
    font-size: 18px;
    line-height: 45px;
    padding: 0 20px;
    transform: translateX(-120px);
    transition: all 0.4s ease-in-out;
    transition-delay: 0.2s;
    opacity: 0;
}
.imghoverbg05{
    position: fixed;
    width: 30%;
    height: 29.7%;
    top: 330px;
    left: 17%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.img05:hover .imghoverbox05:after,
.img05:hover .imghoverbox05:before{
    transform: rotate(0deg);
}
.img05:hover .imghovertext05{
    opacity: 1;
    transform: translateX(0);
}
.img05:hover .imghovericon05{
    opacity: 0;
    transition-delay: 0s;
}
.img05:hover .imghoverbg05{
    opacity: 1;
}
.imghover06{
    position: fixed;
    top: 350px;
    left: 54%;
    z-index: 9999;
}
.imghoverbox06{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
}
.imghovericon06{
    position: absolute;
    display: inline-block;
    background: url(../img/plus.png)no-repeat 50%;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition-delay: 0.5s;
}
.imghoverbox06:before,
.imghoverbox06:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    border-right-color: transparent;
    transition: all 0.3s ease-in-out;
    transition-delay: 0s;
}
.imghoverbox06:before{
    transform: rotate(45deg);
}
.imghoverbox06:after{
    transform: rotate(-45deg);
}
.imghovertext06{
    position: absolute;
    color: #fff;
    display: block;
    width: 500px;
    text-align: left;
    font-size: 18px;
    line-height: 45px;
    padding: 0 20px;
    transform: translateX(-120px);
    transition: all 0.4s ease-in-out;
    transition-delay: 0.2s;
    opacity: 0;
}
.imghoverbg06{
    position: fixed;
    width: 30%;
    height: 29.7%;
    top: 330px;
    left: 53%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.img06:hover .imghoverbox06:after,
.img06:hover .imghoverbox06:before{
    transform: rotate(0deg);
}
.img06:hover .imghovertext06{
    opacity: 1;
    transform: translateX(0);
}
.img06:hover .imghovericon06{
    opacity: 0;
    transition-delay: 0s;
}
.img06:hover .imghoverbg06{
    opacity: 1;
}
.box{
    width: 100%;
    height: 600px;
}
.lastbox{
    width: 100%;
    height: 82px;
}
.footerline{
    width: 100%;
    height: 48%;
    background-color: #e9e9e9;
    position: relative;
    z-index: 99;
}
.footerlineright{
    position: absolute;
    top: 0;
    left: 50.2%;
    width: 49.8%;
    height: 3px;
    overflow: hidden;
    text-align: center;
}
.footerlineright>span{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 3px;
    width: 0px;
    background: #159adb;
    z-index: 999;
}
.footerlineright01{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.footerlineright01>span{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 3px;
    height: 0;
    background: #159adb;
}
.footerlineright02{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 3px;
    overflow: hidden;
    text-align: center;
}
.footerlineright02>span{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 0;
    height: 3px;
    background: #159adb;
}
.footerlineleft{
    position: absolute;
    top: 0;
    right: 50.2%;
    width: 49.8%;
    height: 3px;
    overflow: hidden;
    text-align: center;
}
.footerlineleft>span{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 3px;
    width: 0;
    background: #159adb;
}
.footerlineleft01{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.footerlineleft01>span{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 3px;
    height: 0px;
    background: #159adb;
}
.footerlineleft02{
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 50%;
    height: 3px;
    overflow: hidden;
    text-align: center;
}
.footerlineleft02>span{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 0;
    height: 3px;
    background: #159adb;
}
.skill{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1180px;
    opacity: 0;
}
.skillvideo{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}
.bgbg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -99;
}
.skillbox{
    position: relative;
    width: 1180px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
.skillhtml{
    color: #fff;
    width: 16.3%;
    padding: 0 20px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.skillhtml>p:nth-child(1){
    font-size: 25px;
}
.skillhtml>p:nth-child(2){
    padding: 30px 0;
    line-height: 25px;
    height: 40px;
    font-size: 20px;
}
.skillhtml>p:last-child{
    font-size: 16px;
    text-align: justify;
}
.footer{
    background: #3f3f3f;
    text-align: right;
    min-width: 1180px;
    font-size: 14px;
}
.footer>p>span{
    padding: 0 150px;
    line-height: 70px;
    color: #b4b4b4;
}
.topbtn{
    position: fixed;
    background: url(../img/topblack.png)no-repeat right;
    width: 55px;
    height: 55px;
    bottom: 20px;
    right: 30px;
}
.topbtnstop{
    position: absolute;
    top: -80px;
    right: 30px;
}
.footermbg{
    display: none;
}
.javamo{
    display: none;
}
.mobilemo{
    display: none;
}
@media screen and (max-width:1180px){
    .texton{
        font-size: 14px;
        left: 9%;
    }
    .textonon{
        font-size: 14px;
        right: 9%;
    }
    .imghoverbox01, .imghoverbox02, .imghoverbox03,
    .imghoverbox04, .imghoverbox05, .imghoverbox06{
        width: 30px;
        height: 30px;
    }
    .imghovericon01, .imghovericon02, .imghovericon03,
    .imghovericon04, .imghovericon05, .imghovericon06{
        width: 15px;
        height: 15px;
    }
    .imghovertext01, .imghovertext02, .imghovertext03,
    .imghovertext04, .imghovertext05, .imghovertext06{
        width: 300px;
        font-size: 14px;
        padding: 0 15px;
        top: -8px;
    }
    .img04 p{
        margin-left: 0;
    }
}
@media screen and (max-width:760px){
    hover{
        display: none;
    }
    #header{
        min-width: 100%;
    }
    .menu{
        min-width: 100%;
    }
    .logo>h1{
        font-size: 25px;
    }
    .bannerimg{
        min-width: 100%;
        height: 700px
    }
    .bannerimgtext:before{
        width: 80px;
    }
    .bannerimgtext{
        width: 95%;
    }
    .bannerimgtext>p{
        font-size: 25px;
        line-height: 50px
    }
    .star03{
        top: 400px;
    }
    .profile{
        min-width: 100%;
    }
    .profileimg{
        width: 100%;
        height: 600px;
    }
    .profilephoto{
        left: 0;
        height: auto;
    }
    .profilephoto>img{
        left: 50%;
        transform: translateX(-50%);
    }
    .photo01{
        width: 250px;
    }
    .photo02{
        width: 190px;
        top: 19px;
    }
    .profile{
        margin-top: 30px;
    }
    .profileboxtext{
        font-size: 25px;
    }
    .profiletext{
        top: 70%;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 375px;
        line-height: 30px;
        text-align: center;
        font-size: 18px;
    }
    .portfoliotext{
        font-size: 25px;
    }
    .fullbody{
        min-width: 100%;
    }
    .introbox{
        width: 95%;
        min-width: 95%;
    }
    .introimg>div>a>div{
        display: none;
    }
    .dot{
        display: none;
    }
    .centerline{
        display: none;
    }
    .img01, .img02, .img03, .img04, .img05, .img06{
        position: static;
    }
    .img01>img, .img02>img, .img03>img, .img04>img, .img05>img, .img06>img{
        width: 80%;
    }
    .introimg{
        position: static;
        width: 95%;
        margin: 50px auto;
    }
    .introimg>div{
        width: 100%;
        text-align: center;
    }
    .box{
        display: none;
    }
    .imgimg>p{
        opacity: 1;
        font-size: 16px;
        padding-top: 10px
    }
    .lastbox{
        display: none;
    }
    .topbtnstop{
        right: 20px;
    }
    .footerline{
        height: 550px;
    }
    .skill{
        min-width: 100%;
        opacity: 1;
    }
    .skillvideo{
        display: none;
    }
    .footermbg{
        display: block;
        background: url(../img/mfooterbg.jpg)no-repeat 50%;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -99;
    }
    .skillbox{
        width: 100%;
        top: 0;
        transform: translateY(0);
    }
    .skillbox>div:first-child{
        margin-top: 50px;        
    }
    .skillhtml{
        display: block;
        width: 90%;
        margin: 0 auto; 
        padding: 0;
    }
    .skillhtml:after{
        content: "";
        display: block;
        clear: both;
    }
    .skillhtml>p:nth-child(1){
        float: left;
        font-size: 20px;
        width: 70px;
        height: 100px;
    }
    .skillhtml>p:nth-child(2){
        padding: 0;
        line-height: normal;
        height: auto;
        text-align: left;
    }
    .javamo, .mobilemo{
        display: block;
        font-size: 20px !important;
        text-align: left;
    }
    .javamm, .mobilemm{
        font-size: 15px !important;
    }
    .javapc, .mobilepc{
        display: none;
    }
    .skillhtml>p:last-child{
        text-align: left;
    }
    .footer{
        min-width: 100%;
        text-align: center;
    }
    .footer>p>span{
        padding: 0 20px;
    }
    .topbtn{
        height: 40px;
        bottom: 20px;
        right: 20px;
    }
}
@media screen and (max-width:400px){
    .logo>h1{
        font-size: 20px;
    }
    .menuright>div{
        font-size: 14px;
    }
    .skillhtml>p:last-child{
        font-size: 12px !important;
    }
    .profileimg{
        height: 500px;
    }
    .photo01{
        width: 200px;
    }
    .photo02{
        width: 150px;
        top: 19px;
    }
    .footer{
        font-size: 12px;
    }
    .footer>p>span{
        padding: 0;
    }
    .bannerimgtext>p{
        padding: 0 20px;
        font-size: 18px;
    }
}