body, html{
    font-family: 'Noto Sans KR', sans-serif;
}
.header{
    width: 100%;
    min-width: 1180px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
}
.menubox{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 99;
    background: #fff;
    overflow: hidden;
}
.menushadow{
    box-shadow: 0px -15px 40px 0px;
}
.menubox:after{
    content: "";
    display: block;
    clear: both;
}
.logobox{
    width: 15%;
    line-height: 78px;
    padding-left: 70px;
    float: left;
    cursor: pointer;
}
.logo{
    background: url(../img/logoimg.png)no-repeat;
    background-position: 0 0;
    width: 181px;
    height: 18px;
    display: inline-block;
}
.menulist{
    width: 100%;
    text-align: right;
}
.menulist>a{
    color: #000;
    display: inline-block;
    padding: 0 30px;
    line-height: 70px;
    cursor: pointer;
    font-size: 18px;
}
.menulist>a:last-child{
    padding-right: 70px;
}
.mainbanner{
    width: 100%;
}
.banner{
    width: 100%;
    min-width: 1180px;
}
.sectiona{
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
}
.sectabox{
    width: 1180px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.sectabox>h1{
    padding-left: 20px;
}
.sectabox>div:last-child{
    padding-right: 0;
}
.character{
    text-align: center;
    padding: 30px 0;
    display: inline-block;
    padding-right: 43px;
}
.character>h2{
    padding-top: 20px;
    padding-bottom: 5px
}
.character>p{
    font-size: 16px;
    color: #7e7e7e;
    line-height: 21px
}
.character>a{
    display: inline-block;
}
.charactera{
    background: url(../img/shop/emoticon.png)no-repeat;
    background-position: -206px -546px;
    width: 70px;
    height: 95px;
}
.characterb{
    background: url(../img/shop/emoticon.png)no-repeat;
    background-position: -289px -552px;
    width: 50px;
    height: 90px;
}
.characterc{
    background: url(../img/shop/emoticon.png)no-repeat;
    background-position: -362px -549px;
    width: 62px;
    height: 90px;
}
.characterd{
    background: url(../img/shop/emoticon.png)no-repeat;
    background-position: -446px -562px;
    width: 54px;
    height: 77px;
}
.charactere{
    background: url(../img/shop/emoticon.png)no-repeat;
    background-position: -205px -686px;
    width: 54px;
    height: 64px;
}
.characterf{
    background: url(../img/shop/emoticon.png)no-repeat;
    background-position: -282px -668px;
    width: 68px;
    height: 82px;
}
.characterg{
    background: url(../img/shop/emoticon.png)no-repeat;
    background-position: -383px -714px;
    width: 21px;
    height: 27px;
}
.characterh{
    background: url(../img/shop/emoticon.png)no-repeat;
    background-position: -440px -649px;
    width: 80px;
    height: 101px;
}
.sectionb{
    position: absolute;
    width: 100%;
    min-width: 1180px;
    height: 70px;
    margin-top: 15px;
}
.sectbbox{
    width: 1180px;
    position: relative;
    margin: 0 auto;
}
.sectbheader{
    width: 100%;
    position: relative;
    z-index: 99;
}
.headertext{
    font-size: 20px;
    float: left;
}
.headertext>span{
    font-weight: bold;
}
.slide01{
    width: 200px;
    font-size: 16px;
    float: right;
    border: 1px solid #cdcdcd;
    padding-left: 20px;
    background: #fff;
}
.slide01>li{
    line-height: 40px;
}
.slide01>a{
    display: inline-block;
    width: 200px;
    line-height: 40px;
}
.slide01>i{
    position: absolute;
    top: 0;
    right: 20px;
    padding-top: 13px;
}
.slide02{
    width: 200px;
    font-size: 16px;
    float: right;
    border: 1px solid #cdcdcd;
    padding-left: 20px;
    background: #fff;
}
.slide02>li{
    line-height: 40px;
}
.slide02>a{
    display: inline-block;
    width: 200px;
    line-height: 40px;
}
.slide02>i{
    position: absolute;
    top: 0;
    right: 240px;
    padding-top: 13px;
}
.sectionc{
    width: 100%;
    margin-top: 100px;
}
.sectcbox{
    width: 1180px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.sectcline{
    width: 100%;
    padding: 20px 0;
}
.sectcone{
    width: 270px;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
}
.sectcimgbox{
    overflow: hidden;
    border-radius: 10px;
}
.sectcimgbox>img{
    width: 270px;
    border-radius: 10px;
    vertical-align: middle;
    transition: all 0.3s linear;
}
.sectctext{
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
.sectctext>p:first-child{
    font-weight: bold;
    font-size: 16px;
}
.sectcone:hover img{
    transform: scale(1.05);
}
.sectcpage{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    padding: 50px 0;
    border-top: 1px solid #cdcdcd;
}
.sectcpage>p{
    width: 35px;
    height: 35px;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 50%;
    }
.sectcpage>i{
    cursor: pointer;
}
.pageon{
    background: #000;
    color: #fff;
}
.footer{
    width: 100%;
    height: 300px;
    background: #575757;
    color: #e0e0e0;
}
.footerbox{
    width: 1180px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.footerbox01{
    width: 650px;
    font-size: 16px;
    padding-top: 60px;
    padding-left: 50px;
}
.footerbox01>a{
    padding-right: 30px;
    color: #fff;
}
.footerbox02{
    padding-top: 50px;
    width: 650px;
    font-size: 13px;
    color: #a2a2a2;
    display: inline-block;
    padding-left: 50px;
}
.footerbox02>p{
    display: inline-block;
    padding-right: 20px;
    line-height: 30px;
}
.footerbox03{
    display: inline-block;
    position: absolute;
    padding-top: 60px;
    right: 50px;
    line-height: 100px;
    top: 0;
}
.footerlogo{
    background: url(../img/logoimg.png)no-repeat;
    background-position: 0 -40px;
    width: 181px;
    height: 18px;
}
.snsicon>a{
    margin-right: 35px;
    color: #a2a2a2
}








@media screen and (max-width:960px){
    .header{
        min-width: 100%;
    }
    .menubox{
        height: auto;
        position: relative;
    }
    .menushadow{
        box-shadow: 0 0 0 0;
    }
    .logobox{
        float: none;
        width: 100%;
        display: block;
        text-align: center;
        line-height: normal;
        padding-left: 0;
        padding-top: 20px;
    }
    .menulist{
        text-align: center;
    }
    .menulist>a{
        line-height: 60px;
    }
    .menulist>a:last-child{
        padding-right: 0px;
    }
    .banner{
        min-width: 100%;
    }
    .sectabox{
        width: 100%;
    }
    .character{
        width: 24.7%;
        padding: 0;
    }
    .slide01, .slide02{
        float: left;
    }
    .slide01{
        margin-left: 20px;
    }
    .headertext{
        display: block;
        float: none;
        position: absolute;
        top: 50px;
        font-size: 16px;
        padding: 0 20px;
    }
    .sectionb{
        min-width: 100%;
    }
    .sectbbox{
        width: 100%;
    }
    .sectcbox{
        width: 100%;
    }
    .sectcone{
        width: 50%;
        margin: 0;
    }
    .sectcline{
        padding: 0;
        font-size: 0;
    }
    
    
    
    
    .footer{
        height: auto;
    }
    .footerbox{
        width: auto;
        padding: 10px 0
    }
    .footerbox01{
        width: auto;
        padding: 10px 0;
        text-align: left;
        padding-left: 50px;
        font-size: 14px;
    }
    .footerbox01>a:last-child{
        padding-right: 0;
    }
    .footerbox02{
        padding: 0;
        width: auto;
        text-align: left;
        margin-left: 50px;
        padding-bottom: 10px;
        font-size: 12px;
    }
    .footerbox02>p{
        display: block;
        line-height: normal;
        padding-right: 0;
    }
    .footerbox03{
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        line-height: normal;
    }
    .snsicon{
        padding-top: 20px;
    }
    .snsicon>a:last-child{
        margin-right: 0;
    }
}
@media screen and (max-width:710px){
    .menulist>a{
        padding: 0 10px;
        font-size: 14px;
    }
    .footerbox{
        text-align: center;
    }
    .footerbox01{
        text-align: center;
        margin: 0;
        padding-left: 0;
    }
    .footerbox02{
        text-align: center;
        margin-left: 0;
    }
    .footerbox03{
        display: block;
        position: static;
    }
    .footerlogo{
        display: none;
    }
    .snsicon{
        text-align: center;
        padding: 0;
        margin-top: 10px;
        font-size: 8px;
    }
}
@media screen and (max-width:700px){
    .character{
        width: 24%;
    }
    .character>h2{
        font-size: 16px;
    }
    .character>p{
        font-size: 13px;
    }          
}
@media screen and (max-width:600px){
    .slide01{
        margin-left: 0;
    }
    .sectbheader{
        width: 95%;
        margin: 0 auto;
    }
    .slide01>i{
        right: 60%;
    }
    .slide02>i{
        right: 10%
    }
    .headertext{
        font-size: 14px;
        z-index: -1;
    }
    .slide01, .slide02{
        width: 40%;
    }
    .sectcone{
        width: 46%;
        margin: 0 5px;
    }
    .sectcimgbox>img{
        width: 100%;
    }
    .sectctext>p:first-child{
        font-size: 14px;
        width: 95%;
        white-space: nowrap;
    }
    .sectcline{
        width: 95%;
        margin: 0 auto;
    }
}