body, html{
    font-family: 'Noto Sans KR', sans-serif;
}
.header{
    width: 100%;
    height: 100%;
    min-width: 1180px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 100px;
}
.menubox{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 99;
    background: #fff;
    overflow: hidden;
}
.menushadow{
    box-shadow: 0px -15px 40px 0px;
}
.menubox:after{
    content: "";
    display: block;
    clear: both;
}
.logobox{
    width: 15%;
    line-height: 78px;
    padding-left: 70px;
    float: left;
    cursor: pointer;
}
.logo{
    background: url(../img/logoimg.png)no-repeat;
    background-position: 0 0;
    width: 181px;
    height: 18px;
    display: inline-block;
}
.menulist{
    width: 100%;
    text-align: right;
}
.menulist>a{
    color: #000;
    display: inline-block;
    padding: 0 30px;
    line-height: 70px;
    cursor: pointer;
    font-size: 18px;
}
.menulist>a:last-child{
    padding-right: 70px;
}
.mainbanner{
    width: 100%;
}
.sectiona{
    width: 100%;
    height: 100%;
}
.sectaimgbox{
    width: 1180px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 10px;
}
.sectaimgbox>a{
    display: inline-block;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.sectaimgbox>a>img{
    width: 360px;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    vertical-align: middle;
    z-index: -1;
}
.sectatext{
    width: 100%;
    position: absolute;
    top: 0;
    color: #fff;
}
.sectatext>p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.sectatext>p:nth-child(1):after{
    content: "";
    width: 160px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    opacity: 0;
    transform: translateX(-155px);
    transition: all 0.3s linear;    
}
.sectatext>p:nth-child(2){
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    margin-top: 280px;
    line-height: 30px;
}
.sectatext>i{
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 20px;
}
.sectaimgbox>a:hover img{
    transform: scale(1.1);
}
.sectaimgbox>a:hover .sectatext>p:nth-child(1):after{
    opacity: 1;
    transform: translateX(0);
}
.footer{
    width: 100%;
    height: 300px;
    background: #575757;
    color: #e0e0e0;
    margin-top: 50px;
}
.footerbox{
    width: 1180px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.footerbox01{
    width: 650px;
    font-size: 16px;
    padding-top: 60px;
    padding-left: 50px;
}
.footerbox01>a{
    padding-right: 30px;
    color: #fff;
}
.footerbox02{
    padding-top: 50px;
    width: 650px;
    font-size: 13px;
    color: #a2a2a2;
    display: inline-block;
    padding-left: 50px;
}
.footerbox02>p{
    display: inline-block;
    padding-right: 20px;
    line-height: 30px;
}
.footerbox03{
    display: inline-block;
    position: absolute;
    padding-top: 60px;
    right: 50px;
    line-height: 100px;
    top: 0;
}
.footerlogo{
    background: url(../img/logoimg.png)no-repeat;
    background-position: 0 -40px;
    width: 181px;
    height: 18px;
}
.snsicon>a{
    margin-right: 35px;
    color: #a2a2a2
}








@media screen and (max-width:960px){
    .header{
        min-width: 100%;
    }
    .menubox{
        height: auto;
        position: relative;
    }
    .menushadow{
        box-shadow: 0 0 0 0;
    }
    .logobox{
        float: none;
        width: 100%;
        display: block;
        text-align: center;
        line-height: normal;
        padding-left: 0;
        padding-top: 20px;
    }
    .menulist{
        text-align: center;
    }
    .menulist>a{
        line-height: 60px;
    }
    .menulist>a:last-child{
        padding-right: 0px;
    }
    .sectaimgbox{
        width: 100%;
        text-align: center;
    }
    
    
    
    .footer{
        height: auto;
    }
    .footerbox{
        width: auto;
        padding: 10px 0
    }
    .footerbox01{
        width: 100%;
        padding: 10px 0;
        text-align: left;
        margin-left: 50px;
        font-size: 14px;
    }
    .footerbox02{
        padding: 0;
        width: 100%;
        text-align: left;
        margin-left: 50px;
        padding-bottom: 10px;
    }
    .footerbox02>p{
        display: block;
        line-height: normal
    }
    .footerbox03{
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        line-height: normal;
    }
    .snsicon{
        padding-top: 20px;
    }
}
@media screen and (max-width:710px){
    .menulist>a{
        padding: 0 10px;
        font-size: 14px;
    }
    .footerbox01{
        text-align: center;
        margin: 0;
    }
    .footerbox02{
        margin: 0;
        text-align: center;
    }
    .footerbox03{
        display: block;
        position: static;
    }
    .footerlogo{
        display: none;
    }
    .snsicon{
        text-align: center;
        padding: 0;
        margin-top: 10px;
        font-size: 8px;
    }
}